* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font: 1em sans-serif;
    margin: 0;
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

#value {
    font-size: 2em;
}

.slider {
    --posX: 0px;
    --speed: 0ms;
    height: 60px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
    border: 1px solid;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
}

.track {
    height: 100%;
    width: 100%;
    background:
        linear-gradient(to right, black 1px, transparent 1px),
        linear-gradient(to right, black 1px, transparent 1px);
    background-size:
        10px 100%,
        20px 100%;
    background-repeat: repeat-x;
    background-position-x: var(--posX);
    background-position-y: 10px, bottom;
}

.slider.animate .track {
    transition: background-position-x var(--speed) ease-out;
}
